:root {
  /* bg colors */
  --header-bg-color: #ffffff;
  --main-bg-color: #ffffff;
  --banner-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --benefit-logo-bg-color: #f5f4fa;
  --what-we-doing-bg-color: rgba(47, 48, 58, 0.8);
  --footer-bg-color: #2f303a;
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --team-cards-bg-color: #ffffff;
  --projects-cards-bg-color: #eeeeee;

  /* title colors */
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;

  /* text colors */
  --primary-text-color: #757575;
  --secondery-text-color: #ffffff;

  /* header colors */
  --primary-header-color: #212121;
  --secondary-header-color: #757575;

  /* accent color */
  --accent-color: #2196f3;

  /* btn color */
  --portfolio-btn-color: #f5f4fa;
  --main-btn-hover-color: #188ce8;

  /* icons colors */
  --team-soc-media-icon-color: #afb1b8;
  --footer-soc-media-icon-color: #ffffff;
  --clients-fill-color: #afb1b8;
  --modal-icon-fill-color: #212121;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link,
.logo {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  background-color: var(--header-bg-color);
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  display: inline-block;
}

.logo.studio-header {
  color: var(--primary-header-color);

  padding-top: 24px;
  padding-bottom: 25px;
}
.nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.nav .link {
  color: var(--primary-header-color);

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav li:nth-child(n + 2) {
  margin-left: 50px;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  display: inherit;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts .link {
  color: var(--secondary-header-color);
  align-items: center;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail,
.icon-smartphone {
  fill: currentColor;

  margin-right: 10px;
}

.contacts li:nth-child(n + 2) {
  margin-left: 50px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

/* Студия */
/* Секция Шапка */

.banner {
  background-color: var(--banner-bg-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner-bg.jpg);
  max-width: 1600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.banner .title {
  color: var(--secondary-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
}

.btn {
  background-color: var(--accent-color);
  color: var(--secondery-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;

  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--main-btn-hover-color);
}

/* Секция Наши преимущества */

.benefits {
  line-height: 1.71;
}

.benefits .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits-list {
  display: flex;
}

.benefits-item:nth-child(n + 2) {
  margin-left: 30px;
}

.benefit-logo {
  background-color: var(--benefit-logo-bg-color);

  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Секция Чем мы занимаемся */

.what-we-doing {
  padding-top: 0;
}

.what-we-doing .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.what-we-doing-list {
  display: flex;
}

.what-we-doing-item {
  position: relative;
  display: flex;
}

.what-we-doing-item:nth-child(n + 2) {
  margin-left: 30px;
}

.what-we-doing-text {
  background-color: var(--what-we-doing-bg-color);
  color: var(--secondery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Наша команда */

.team {
  background-color: var(--team-bg-color);
}

.team > .container > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;

  margin-bottom: 50px;
}

.team-cards {
  display: flex;
}

.team .card {
  background-color: var(--team-cards-bg-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards .card:nth-child(n + 2) {
  margin-left: 30px;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 27px;
}

.card-text .title {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.soc-media-list {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.soc-media-link {
  background-color: inherit;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--team-soc-media-icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-logo:nth-child(n + 2) {
  margin-left: 10px;
}

.soc-media-link:hover,
.soc-media-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/* Постоянные клиенты */

.our-clients {
  background-color: var(--main-bg-color);
  text-align: center;
}

.our-clients .title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.client-logo:nth-child(n + 2) {
  margin-left: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;

  justify-content: center;
  align-items: center;
  border: 1px solid var(--clients-fill-color);
  border-radius: 4px;

  fill: var(--clients-fill-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--footer-bg-color);
  line-height: 1.71;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo.studio-footer {
  color: var(--secondary-title-color);
}

.footer > .container > .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address .link {
  color: var(--secondery-text-color);
  font-style: normal;
  display: inline-block;
}

.address .mail,
.address .tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .mail:hover,
.address .mail:focus {
  color: var(--accent-color);
}

.address .tel:hover,
.address .tel:focus {
  color: var(--accent-color);
}

.footer-soc-media {
  margin-left: 70px;
}

.footer-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.footer .soc-media-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--footer-soc-media-icon-color);
}

.footer .soc-media-link:hover,
.footer .soc-media-link:focus {
  background-color: var(--accent-color);
}

.form-join-box {
  margin-left: auto;
  width: 570px;
  min-height: 86px;
}

.text-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;

  display: block;
  margin-bottom: 20px;
}

.input-join {
  width: 358px;
  min-height: 50px;
  background-color: transparent;
  color: var(--secondery-text-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;

  padding-left: 16px;
  padding-right: 16px;
}

.input-join:hover,
.input-join:focus {
  border-color: var(--accent-color);
}

.input-join-box {
  display: flex;
}

.input-join-box .btn {
  padding-right: 28px;
  padding-left: 28px;
  margin-right: 0;
  margin-left: 12px;
}

.icon-send {
  margin-left: 10px;
  fill: var(--secondary-title-color);
}

/* Modal window */

.backdrop {
  background-color: var(--backdrop-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%) scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  background-color: var(--main-bg-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-close-black {
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-black:hover,
.icon-close-black:focus {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  min-height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-field {
  position: relative;

  margin-bottom: 10px;
}

.icon-modal {
  position: absolute;
  top: 28px;
  left: 12px;

  fill: var(--modal-icon-fill-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .icon-modal {
  fill: var(--accent-color);
}

.modal-input:focus + .icon-modal {
  fill: var(--accent-color);
}

.user-comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  min-height: 120px;
  overflow: auto;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.user-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.link-policy {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-policy:hover,
.link-policy:focus {
  color: var(--main-btn-hover-color);
}

.policy-box {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

.policy-label {
  line-height: 1.71;

  display: flex;
  align-items: center;
}

.policy-label span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--modal-icon-fill-color);
  border-radius: 2px;

  margin-right: 8.38px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  fill: transparent;
}

.policy-label > span:hover {
  border-color: var(--accent-color);
}

.policy-label > span:focus {
  border-color: var(--accent-color);
}

.input-check:checked + .policy-label span {
  background-color: var(--accent-color);
  border: none;
}

.input-check:checked + .policy-label .icon-check {
  fill: var(--main-bg-color);
}

.backdrop .btn {
  padding-right: 55px;
  padding-left: 55px;
}

/* Портфолио */
/* buttons */

.projects {
  font-size: 16px;
}

.button {
  background-color: var(--portfolio-btn-color);
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;

  display: inline-block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .filter:nth-child(n + 2) {
  margin-left: 8px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondery-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* projects */

.projects .cards {
  background-color: var(--main-bg-color);
}

.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.cards .text {
  line-height: 1.88;
  color: var(--primary-text-color);
}

.cards .card-name {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.projects .card {
  margin-bottom: 30px;
  margin-left: 30px;
}

.projects .card:nth-child(3n + 1) {
  margin-left: 0;
}

.projects .card:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

.projects .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .link:hover .overlay,
.projects .link:focus .overlay {
  transform: translateY(-100%);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--portfolio-overlay-bg-color);
  color: var(--secondery-text-color);
  font-size: 18px;
  line-height: 1.56;

  padding: 63px 24px;

  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  overflow: auto;
}
